{%  extends 'menu.html' %}

{% block content %}

    <main class='container py-5'>

    {% if user.is_authenticated %}
    <div class='card card-body container col-md-5 offset-md-3'> <h5>You're already logged. <br> To see your To-Do List, <a href='/tasks'> click here</a></h5> </a> </div>
    {% else %}
    <div class='card card-body container col-md-5 offset-md-3'> <h5>You need to be logged to access the blog. <br><a href='/signin'> Please login here </a></h5> </div>
    {% endif %} 
    </main>

{% endblock %}